@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

#footer {
  height: 10px;
  width: 100%;
  text-align: center;
}

.copyright{
  padding-bottom: 2%;
}

#about{
  height: 150px;
  margin: 30px 100px 0px 100px;
  padding-top: 60px;
}

#product{
  height: 300px;
  margin: 30px 100px 0px 100px;
  padding-top: 60px;
}

#work_community{
  height: 600px;
  margin: 30px 100px 0px 100px;
  padding-top: 60px;
}

#contact {
  height: 200px;
  margin: 30px 100px 0px 100px;
  padding-top: 60px;

}

header {
  position: fixed;
  background-color :white;
  height: 60px;
  margin: -8px 0px 0px 0px;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

.wrapper {
  margin-top: 50px;
}
.nav-header {
  margin-left: auto;
  padding-right: 20px;
}

.nav-list-ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-right: 30px;
}

.nav-list-li {
  margin-left: 16px;
  list-style: none;
  font-family: 'Rounded Mplus 1c';
}

.contact-list-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  padding-right: 30px;
}

.contact-list-li {
  list-style: none;
}
.site-title {
  padding-left: 20px;
  font-family: 'Rounded Mplus 1c';  
  font-size: 20px;
}

.profile-image {
  padding-top: 90px;
  text-align: center;
}
.profile-image img {
  border-radius: 50%;
  border-style: double ;
  width: 120px;
  height: 120px;
}
.profile-page {
  background-color: white;
}

.profile-title {
  font-family: 'Mplus 1p';
  font-size: 28px;
}
.profile-text {
  padding-top: 5px;
}

.about-title {
  font-family: 'Mplus 1p';
  font-size: 28px;
}

.about-text {
  padding-top: 1%;
}

.product-title {
  font-family: 'Mplus 1p';
  font-size: 28px;
}

.application-title {
  font-family: 'Mplus 1p';
  font-size: 20px;
}

.presentation-title {
  font-family: 'Mplus 1p';
  font-size: 20px;
}

.work-community-title{ 
  font-family: 'Mplus 1p';
  font-size: 28px;
}

.contact-title {
  font-family: 'Mplus 1p';
  font-size: 28px;
}

.t-customize {
  font-size : 40px;
  color: #55ACEE;
}
.g-customize {
  font-size : 40px;
}

.f-customize {
  font-size : 40px;
  color: #3b5998;
}

.p-customize {
  font-size : 40px;
  color: #008fde;
}

.i-customize {
  font-size : 40px;
}

.e-customize {
  font-size: 40px;
  color: #dd4b39;
}

.contact-text {
  padding: 0.5em;
  padding-top: 0.5em;
  font-family: 'Rounded Mplus 1c';
}